body {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #0b405a;
  background-color: #cfe5fd;
}
/* d4e6fb */
/* dceafa */
ul {
  list-style-type: none;
}
button {
  background-color: #dfa927;
  border: none;
  padding: 12px 15px;
  border-radius: 12px;
}
#playAgain {
  margin: 1rem;
}

.btn-container {
  margin: 2rem;
}
.results {
  font-weight: bold;
  font-size: 17px;
}

button:hover {
  background-color: #fab005;
}
@media (min-width: 768px) {
  body {
    width: 40%;
  }
}
