body {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #0b405a;
  background-color: #e1bebe;
}
ul {
  list-style-type: none;
}
button {
  background-color: #dfa927;
  border: none;
  padding: 12px 15px;
  border-radius: 12px;
}
button:hover {
  background-color: #eba708;
}
@media (min-width: 768px) {
  body {
    width: 40%;
  }
}
